<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AllNewComicReader.Input" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AllNewComicReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AllNewComicReader.Input>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </AllNewComicReader.Input>
        <AllNewComicReader.Properties.Settings>
            <setting name="MainMenuOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageInfoOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageInfoBuffer" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainMenuEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PageView" serializeAs="String">
                <value>Width</value>
            </setting>
            <setting name="DoublePage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupressForSpread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TTPageNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TTPageInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoYellowBalance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Brightness" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Hue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="InputPrevPage" serializeAs="String">
                <value>PageUp</value>
            </setting>
            <setting name="InputLastPage" serializeAs="String">
                <value>End</value>
            </setting>
            <setting name="InputFirstPage" serializeAs="String">
                <value>Home</value>
            </setting>
            <setting name="InputScrollUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="InputScrollDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="InputScrollLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="InputScrollRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="InputFullscreen" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="InputToolbar" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="InputViewMode" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="InputDoublePage" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="InputPageNumber" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="InputPageInfo" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="InputRotate" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="InputLoadNext" serializeAs="String">
                <value>Ctrl+Right</value>
            </setting>
            <setting name="InputLoadPrev" serializeAs="String">
                <value>Ctrl+Left</value>
            </setting>
            <setting name="InputExit" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="Mouse1Double" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse2Double" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse3Double" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse4Double" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse5Double" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse1Click" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse2Click" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse3Click" serializeAs="String">
                <value>ContextMenu</value>
            </setting>
            <setting name="Mouse4Click" serializeAs="String">
                <value>PreviousPage</value>
            </setting>
            <setting name="Mouse5Click" serializeAs="String">
                <value>NextPage</value>
            </setting>
            <setting name="InputNextPage" serializeAs="String">
                <value>PageDown</value>
            </setting>
            <setting name="ScrollAmount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="InputYellow" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="Bookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BookmarkAsk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HueSaturation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Saturation" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Mouse1Hold" serializeAs="String">
                <value>MoveImage</value>
            </setting>
            <setting name="Mouse2Hold" serializeAs="String">
                <value>MoveImage</value>
            </setting>
            <setting name="Mouse3Hold" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse4Hold" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mouse5Hold" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="PageContolPopup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FastRender" serializeAs="String">
                <value>True</value>
            </setting>
        </AllNewComicReader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
